/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1;
  font-size: 100%; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

.header {
  background-color: #EFF4F6;
  height: 942px;
  width: 100%; }

.header__wrapper {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  height: 942px; }

.header__title {
  width: 430px;
  display: block;
  z-index: 5;
  position: absolute;
  top: 250px;
  left: 170px; }

.header__title p {
  font-family: texgyreadventor-bold;
  color: #000000 100%;
  font-size: 26px;
  line-height: 40px; }

.header__title__img {
  width: 430px;
  height: 160px;
  border: 2px solid #231916;
  padding: 10px;
  box-sizing: border-box; }

.header__bg {
  display: inline-block;
  z-index: 1;
  position: absolute;
  top: 134px;
  left: 385px; }

.header__bg__icn-left {
  height: 60px;
  width: auto;
  position: absolute;
  top: 300px;
  left: 40px; }

.header__bg__icn-right {
  height: 60px;
  width: auto;
  position: absolute;
  top: 300px;
  right: 40px; }

.header__bg p {
  height: 75px;
  width: 900px;
  background-color: gray;
  opacity: 0.5;
  font-family: texgyreadventor-regular;
  color: #FFFFFF;
  font-size: 16px;
  padding-left: 10px;
  padding-top: 15px;
  position: absolute;
  top: 505px;
  left: 0px;
  box-sizing: border-box; }

.header__bg__img {
  width: 910px;
  height: 580px;
  box-shadow: -24px -24px 0px #FFEC00;
  z-index: 1; }

.header__nav {
  width: 1100px;
  height: 230px;
  display: block;
  background-color: white;
  position: absolute;
  top: 834px;
  left: 170px; }

.header__nav__top {
  width: 100%;
  height: 94px;
  box-sizing: border-box; }

.header__nav__top__copy {
  color: #FFEC00;
  font-size: 80px;
  font-family: FreestyleScriptStd;
  margin-top: -26px;
  margin-left: -26px;
  float: left;
  letter-spacing: 5px; }

.header__nav__top__link {
  color: #111111;
  font-size: 18px;
  font-family: texgyreadventor-bold;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  background: url("images/icn_arrowright.png") right no-repeat;
  padding-right: 30px;
  text-decoration: none; }

.header__nav__text {
  width: 390px;
  height: 136px;
  float: left;
  box-sizing: border-box;
  color: #111111;
  font-size: 30px;
  font-family: texgyreadventor-bold;
  padding: 0px 40px 40px 40px;
  line-height: 36px; }

.menu-wrapper {
  width: 710px;
  height: 136px;
  float: left;
  box-sizing: border-box; }

.menu-wrapper p {
  color: #D3D3D3;
  font-size: 22px;
  font-family: texgyreadventor-bold;
  margin-bottom: 15px; }

.menu {
  list-style: none; }

.menu__list--yellow {
  color: #111111;
  font-size: 24px;
  font-family: texgyreadventor-bold;
  height: 60px;
  width: 240px;
  background-color: #FFEC00;
  float: left;
  text-align: center;
  line-height: 60px; }

.menu__list {
  color: #111111;
  font-size: 24px;
  font-family: texgyreadventor-regular;
  height: 60px;
  width: 183px;
  float: left;
  text-align: center;
  line-height: 60px;
  margin-left: 30px;
  border: 3px solid #000000;
  box-sizing: border-box; }

.contents {
  background-color: whe;
  width: 100%;
  margin-top: 180px; }

.contents__title {
  color: #111111;
  font-size: 70px;
  font-family: texgyreadventor-bold;
  text-shadow: -3px -3px 0px yellow;
  text-align: center;
  letter-spacing: 10px;
  margin-bottom: 80px; }

.contents__items:after {
  display: block;
  content: "";
  clear: both; }

.contents__items ul {
  list-style: none; }

.contents__items__li-wrappwer {
  text-align: center;
  margin-bottom: 20px; }

.contents__items__li-wrappwer li {
  width: 340px;
  display: inline-block;
  box-sizing: border-box;
  margin: 0px 16px 0px 16px;
  vertical-align: top; }

.contents__items__li-wrapper__img {
  width: 340px;
  height: 240px; }

.contents__items__li-wrappwer li a {
  text-decoration: none; }

.contents__items__li-wrappwer li a h3 {
  color: #413531;
  font-size: 16px;
  font-family: Helvetica;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 5px; }

.contents__items__li-wrappwer li a p {
  color: #685F5C;
  font-size: 16px;
  font-family: Helvetica;
  font-weight: normal;
  padding-bottom: 20px; }

.contents__bottom {
  height: 555px;
  width: 100%; }

.contents__button-first {
  display: block;
  width: 260px;
  height: 55px;
  margin: 0 auto;
  text-align: center;
  background-color: #F0F5F7;
  line-height: 55px;
  text-decoration: none; }

.contents__bottom p {
  color: #0E0E0E;
  font-size: 50px;
  font-family: texgyreadventor-bold;
  letter-spacing: 10px;
  padding: 190px 0 40px 0;
  text-align: center; }

.contents__button-second {
  display: block;
  width: 315px;
  height: 70px;
  margin: 0 auto;
  text-align: center;
  line-height: 70px;
  color: #FFFFFF;
  font-size: 18px;
  font-family: texgyreadventor-regular;
  box-shadow: -4px -4px 0px yellow;
  background-color: black;
  text-decoration: none; }

.clearfix :after {
  content: "";
  clear: both;
  display: block; }

.footer {
  background-color: #FFEC00;
  width: 100%;
  height: 110px; }

.footer__inner {
  width: 1100px;
  margin: 0 auto;
  height: 110px; }

.footer__inner__menu-left {
  display: inline-block;
  float: left;
  line-height: 110px; }

.footer__inner__menu-left a {
  text-decoration: none;
  padding-right: 15px;
  font-size: 12px;
  font-family: texgyreadventor-bold; }

.footer__inner__menu {
  display: inline-block;
  float: left;
  line-height: 110px; }

.footer__inner__menu a {
  text-decoration: none;
  padding: 0px 15px;
  border-left: solid 1px #000000;
  font-size: 12px;
  font-family: texgyreadventor-bold; }

.footer__inner p {
  display: inline-block;
  float: right;
  font-size: 12px;
  line-height: 110px;
  font-family: texgyreadventor-bold; }

@font-face {
  font-family: texgyreadventor-bold;
  src: url(fonts/texgyreadventor-bold.otf); }
@font-face {
  font-family: FreestyleScriptStd;
  src: url(fonts/FreestyleScriptStd.otf); }
@font-face {
  font-family: texgyreadventor-regular;
  src: url(fonts/texgyreadventor-regular.otf); }

/*# sourceMappingURL=style.css.map */
