@font-face{
  font-family:texgyreadventor-bold ;
  src:url(fonts/texgyreadventor-bold.otf)

}
@font-face{
  font-family:FreestyleScriptStd ;
  src:url(fonts/FreestyleScriptStd.otf)
}
@font-face{
  font-family:texgyreadventor-regular ;
  src:url(fonts/texgyreadventor-regular.otf)
}