.contents{
  background-color: whe;
  width: 100%;
  margin-top: 180px;

    &__title{
      color: #111111;
      font-size: 70px;
      font-family: texgyreadventor-bold;
      text-shadow: -3px -3px 0px yellow;
      text-align: center;
      letter-spacing: 10px;
      margin-bottom: 80px;
    }

    &__bottom{
      height:555px;
      width:100%;

        p{
          color: #0E0E0E;
          font-size: 50px;
          font-family: texgyreadventor-bold;
          letter-spacing: 10px;
          padding: 190px 0 40px 0;
          text-align: center;
        }

        .contents__button-first{
          display:block;
          width: 260px;
          height:55px;
          margin: 0 auto;
          text-align:center;
          background-color: #F0F5F7;
          line-height: 55px;
          text-decoration: none;
        }


        .contents__button-second{
          display:block;
          width: 315px;
          height:70px;
          margin: 0 auto;
          text-align: center;
          line-height: 70px;
          color: #FFFFFF;
          font-size: 18px;
          font-family: texgyreadventor-regular;
          box-shadow: -4px -4px 0px yellow;
          background-color: black;
          text-decoration: none;
        }
    }
}