.header{
  background-color: #EFF4F6;
  height: 1000px;
  position:relative;
  overflow: hidden;
}

.header__title{
  width: 430px;
  padding: 5px;
  display: block;
  z-index: 5;
  position: absolute;
  top: 250px;
  left: 170px;
}


.header__title__img{
  width: 430px;
  height: 160px;
  border: 2px solid #231916;
  padding: 10px;
  box-sizing: border-box;
}

.header__bg{
  display: inline-block;
  z-index: 1;
  position: absolute;
  top: 134px;
  left: 409px;
}

.header__bg__img{
  width: 934px;
  height: 604px;
  box-shadow: -24px -24px 0px #FFEC00;
  z-index: 1;
}

.header__nav{
  width: 934px;
  display: block;
  background-color: white;
  position: absolute;
  top: 824px;
  left: 170px;
}